<!DOCTYPE html>
<html>
<head>
	<title>Checkout</title>
</head>
<body>
	<h1>Checkout</h1>
	<hr>
	<h3>Order Summary</h3>
	<table>
		<tr>
			<th>Product Name</th>
			<th>Price</th>
		</tr>
		<tr>
			<td>{{ product.name }}</td>
			<td>₹{{ product.discounted_price }}</td>
		</tr>
	</table>
	<hr>
	<h4>Total Amount: ₹{{ product.discounted_price }}</h4>
	<hr>
	<h3>Shipping Information</h3>
	<form method="post" action="{% url 'process_order' %}">
		{% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.id }}">
		<label for="name">Name:</label>
		<input type="text" name="customer_name" required><br><br>
		<label for="email">Email:</label>
		<input type="email" name="customer_email" required><br><br>
		<label for="phone">Phone Number:</label>
		<input type="tel" name="customer_phone_number" required><br><br>
		<label for="address">Shipping Address:</label>
		<textarea name="shipping_address" required></textarea><br><br>
		<label for="payment">Payment Information:</label>
		<textarea name="payment_info" required></textarea><br><br>
		<button type="submit">Place Order</button>
	</form>
</body>
</html>
