


{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign In</title>
	<link rel="stylesheet" type="text/css" href="{% static '/assets/css/style_2.css' %}">
    <style>h3{color: red;}</style>
</head>
<body>
<div class="login">
    <div class="form">
        <!-- <form class="registration-form">
            <input type="text" placeholder="name" />
            <input type="password" placeholder="password" />
            <input type="text" placeholder="email" />
            <button>Create</button>
            <p><a href="#">Log In</a></p>
        </form> -->
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
        <form class="login-form" method="POST" action="{% url 'login' %}">
			{% csrf_token %}
            <input type="text" name = "username" placeholder="username" />
            <input type="password" name = "password" placeholder="password" />
            <button>Login</button>
            <p><a href="{% url 'register' %}">Register</a></p>
        </form>
    </div>
</div>

</body>
</html>

