<!-- Login/Registration Page - HTML -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="{% static '/assets/css/style_2.css' %}">
    <style>h5{color :red;}</style>


</head>
<body>
<div class="login">
    <div class="form">
        {% for message in messages %}
        <h5>{{message}}</h5>
        {% endfor %}
        <form class="registration-form" method="POST" action="{% url 'register' %}">
			{% csrf_token %}
            <input type="text" name = 'username' placeholder="name" />
			<input type="text" name = 'email' placeholder="email" />
            <input type="password" name = 'password' placeholder="password" />
			<input type="password" name = 'password2' placeholder="Confirm Password" />
            <button>Create</button>
			
            <p><a href="{% url 'login' %}" >Log In</a></p>
        </form>
        <!-- <form class="login-form">
            <input type="text" placeholder="username" />
            <input type="password" placeholder="password" />
            <button>Login</button>
            <p><a href="#">Register</a></p>
        </form> -->
    </div>
</div>

</body>
</html>
