{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Password Reset</title>
	<link rel="stylesheet" type="text/css" href="{% static '/assets/css/style_2.css' %}">
</head>
<body>
<div class="password-reset">
    <h1>Password Reset</h1>
    {% if email_sent %}
        <p>An email has been sent to your email address with instructions to reset your password.</p>
    {% else %}
        <form method="POST">
            {% csrf_token %}
            {{ form.email.errors }}
            {{ form.email.label_tag }}
            {{ form.email }}
            <!-- {{ form.as_p }} -->
            <button type="submit">Reset Password</button>
        </form>
    {% endif %}
</div>
</body>
</html>
